<plex-grid class="mt-2" size="sm" type="full">
    <plex-text responsive class="buscador" [(ngModel)]="textoLibre" (change)="buscar($event)" name='buscador'
               [autoFocus]="autoFocus" prefix="<i class='mdi mdi-barcode-scan'></i>"
               placeholder="Escanee un documento digital, o escriba un documento / apellido / nombre">
    </plex-text>
    <plex-dropdown *ngIf="create" class="float-right" [disabled]="disabled" [type]="disabled ? 'default' : 'primary'"
                   class="dropdown-inline" [right]="true" [items]="routes" label="NUEVO PACIENTE">
    </plex-dropdown>
</plex-grid>